[user]
        name = Naoki Orii
        email = mrorii@gmail.com

[alias]
        co   = checkout
        ci   = commit
        psuh = push
        puhs = push
        st   = status
        di   = diff -w
        br   = branch

[color]
        ui = auto
        # ui = true
        # diff = auto
        # branch = auto
        # status = auto
        # interactive = auto

[color "branch"]
        current = red
        local = yellow
        remote = green

[color "status"]
        added = yellow
        changed = green
        untracked = cyan

[i18n]
        commitencoding = utf-8

[core]
        excludesfile = /Users/orii/.gitignore
        pager = less
        editor = /usr/bin/vim

[branch "master"]
        rebase = true

[github]
        user = mrorii

